<section class="container">
  <div [ngClass]="startpageClasses">
    <img class="logo__gift" src="/assets/images/giftbox.svg">
    <h1 class="logo__title">i 25 anni di tigre</h1>
  </div>
  <md-sidenav-container class="mainpage">
    <md-sidenav class="menu" #menu mode="over">
      <div class="menu__header">
        <img class="logo__gift logo__gift--fixed" src="/assets/images/giftbox.svg">
        <h1 class="logo__title">i 25 anni di tigre</h1>
        <i-info class="info-button"></i-info>
      </div>
    </md-sidenav>
    <md-toolbar color="primary">
      <i-menu (click)="menu.toggle()"></i-menu>
      <h4 (click)="menu.toggle()">Menu</h4>
    </md-toolbar>
    <div class="content">
      <div class="block">
        <swiper class="welcome-slider" [config]="swiperConfig">
          <div class="swiper-wrapper">
            <div class="swiper-slide welcome-slider__slide">
              <h2 class="welcome-slider__title">Completa il quiz</h2>
              <i-pocket class="welcome-slider__icon"></i-pocket>
            </div>
            <div class="swiper-slide welcome-slider__slide">
              <h2 class="welcome-slider__title">Trova il regalo</h2>
              <i-compass class="welcome-slider__icon"></i-compass>
            </div>
            <div class="swiper-slide welcome-slider__slide">              
              <h2 class="welcome-slider__title">Divertiti!</h2>
              <i-heart class="welcome-slider__icon"></i-heart>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </swiper>
      </div>
    </div>
    <md-toolbar class="footer">
      <div class="progress-bar" *ngIf="step > 0">
        <md-progress-bar [color]="primary" [value]="stepPercent" mode="buffer"></md-progress-bar>
      </div>
      <button md-button class="continue" (click)="next()">
        {{continueButton}}
      </button>
    </md-toolbar>
  </md-sidenav-container>
</section>