<section class="container">
  <div [ngClass]="startpageClasses">
    <img class="logo__gift" src="assets/icons/android-chrome-512x512.png">
    <!-- <h1 class="logo__title">i 25 anni di tigre</h1> -->
  </div>
  <mat-sidenav-container class="mainpage">
    <mat-sidenav class="menu" #menu mode="over">
      <div class="menu__header">
        <img class="logo__gift logo__gift--fixed" src="assets/icons/android-chrome-512x512-white.png">
        <h1 class="logo__title">i 25 anni di tigre</h1>
        <i-info class="info-button" (click)="openInfo()"></i-info>
      </div>
      <mat-nav-list class="menu_content">
        <a mat-list-item (click)="restart()">Ricomincia da capo</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
      <i-menu (click)="menu.toggle()"></i-menu>
      <h4 (click)="menu.toggle()">Menu</h4>
    </mat-toolbar>
    <div class="content">
      <afrodite-blocks [step]="step" [totalStep]="totalStep" (onAnswer)="onAnswer($event)" (onNext)="next()"></afrodite-blocks>
      <!-- <button mat-fab class="help-button"><h1>?</h1></button> -->
    </div>
    <mat-toolbar class="footer" *ngIf="step > 0 && this.step <= this.totalStep">
      <div class="progress-bar">
        <mat-progress-bar [color]="primary" [value]="stepPercent" mode="buffer"></mat-progress-bar>
      </div>
      <button mat-button class="continue" (click)="next()" [class.continue--disabled]="!this.canNext && this.step != 0">
        {{continueButton}}
      </button>
    </mat-toolbar>
    <!-- <div class="content-container">
    </div> -->
  </mat-sidenav-container>
</section>