@import 'src/styles/_colors';
@import 'src/styles/_fonts';

///////BLOCKS

.block{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    z-index: 800;

    transition-duration: 600ms;
}

.block--0{
    z-index: 800;
}

.block--1{
    z-index: 750;
}

.block--2{
    z-index: 700;
}

.block--3{
    z-index: 650;
}

.block--4{
    z-index: 600;
}

.block--5{
    z-index: 550;
}

.block--6{
    z-index: 500;
}

.block--7{
    z-index: 450;
}

.block--8{
    z-index: 400;
}

.block--9{
    z-index: 350;
}

.block--10{
    z-index: 300;
}

.block--hidden{
    left: -100%;
}

.block--compliments{
    z-index: 250;
}

.welcome-slider{
    height: calc(100% - 100px);
}

.welcome-slider__slide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.welcome-slider__title{
    width: 100%;
    font-size: 3rem;

    @include light;

    text-align: center;
}

.welcome-commands{
    height: 100px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

:host /deep/ .welcome-slider__icon .feather{
    height: 100px;
    width: 100px;
}

///////QUESTION
.question{
    height: 150px;
    width: 100%;
}

.question__title{
    font-size: 2.2rem;

    @include medium;
}

.question__content{
    font-size: 1.8rem;

    @include regular;
}

///////ANSWER
.answer__input{
    width: 100%;
    
    font-size: 2.2rem;
}

.answer__title{
    font-size: 2.4rem;
}

.answer__options{
  display: inline-flex;
  flex-direction: column;
}
.answer__option{
    margin: 5px;
    
    font-size: 2.2rem;
}

///////COMPLIMENTS
.compliments{
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

.compliments__title{
    font-size: 2.8rem;

    margin: 10px auto;
}

.tips{
    width: 100%;
    height: calc(100% - 250px);

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    text-align: center;
}

.tips__title{
    font-size: 1.8rem;

    margin: 10px 0;
}

.tip{
    font-size: 2rem;
    margin: 25px 0;

    color: $primary-dark;
}

.surprise{
    font-size: 1.6rem;
    margin: 10px 0 30px 0;
}

.auguri{
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}