<div [ngClass]="blockClasses[0]">
  <swiper class="welcome-slider" [config]="swiperConfig">
    <div class="swiper-wrapper">
      <div class="swiper-slide welcome-slider__slide">
        <h2 class="welcome-slider__title">Completa il quiz</h2>
        <img src="assets/images/quiz.gif" class="welcome-slider__icon">
      </div>
      <div class="swiper-slide welcome-slider__slide">
        <h2 class="welcome-slider__title">Trova il regalo</h2>
        <img src="assets/images/search.gif" class="welcome-slider__icon">
      </div>
      <div class="swiper-slide welcome-slider__slide">              
        <h2 class="welcome-slider__title">Divertiti!</h2>
        <img src="assets/images/fun.gif" class="welcome-slider__icon">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </swiper>
  <div class="welcome-commands">
    <button md-raised-button class="welcome-button" color="primary" (click)="onSubmit()">
        INIZIA
    </button>
  </div>
</div>
<div [ngClass]="blockClasses[1]">
  <div class="question">
    <div class="question__header">
      <h2 class="question__title">Sarabanda</h2>
    </div>
    <div class="question__content">
      <p>Chi è il famoso autore di "Shain la lain" da te tanto decantato?</p>
    </div>
  </div>
  <div class="answer">
    <form (ngSubmit)="onSubmit()">
      <md-select placeholder="Risposta" [(ngModel)]="answers[0]" name="answer" (ngModelChange)="changeAnswer()" class="answer__input">
        <md-option value="1">
          Justin Timberlake
        </md-option>
        <md-option value="2">
          Shakira
        </md-option>
        <md-option value="3">
          Mario Biondi
        </md-option>
        <md-option value="4">
          Francesco Gabbani
        </md-option>
      </md-select>
    </form>
  </div>
</div>
<div [ngClass]="blockClasses[2]">
  <div class="question">
    <div class="question__header">
      <h2 class="question__title">Chimica</h2>
    </div>
    <div class="question__content">
      <p>Del giorno dopo ne hai prese tante finché non ti sei decisa a prenderle prima. Ora che hai smesso, chissà, magari si diventa zie. Cosa sono?</p>
    </div>
  </div>
  <div class="answer">
    <form (ngSubmit)="onSubmit()">
      <md-radio-group [(ngModel)]="answers[1]" (ngModelChange)="changeAnswer()" class="answer__options" name="answer">
          <md-radio-button md-line [value]="1" class="answer__option">
            Supposte
          </md-radio-button>
          <md-radio-button md-line [value]="2" class="answer__option">
            Pillole
          </md-radio-button>
          <md-radio-button md-line [value]="3" class="answer__option">
            Digestivi
          </md-radio-button>
        </md-radio-group>
    </form>
  </div>
</div>
<div [ngClass]="blockClasses[3]">
  <div class="question">
    <div class="question__header">
      <h2 class="question__title">Zoologia</h2>
    </div>
    <div class="question__content">
      <p>Fai da mangiare, lavi, stiri, sei una donna da sposare. Con i tuoi futuri pulcini sarai proprio una...</p>
    </div>
  </div>
  <div class="answer">
    <form (ngSubmit)="onSubmit()">
      <md-select placeholder="Risposta" [(ngModel)]="answers[2]" name="answer" (ngModelChange)="changeAnswer()" class="answer__input">
        <md-option value="1">
          Mamma chioccia
        </md-option>
        <md-option value="2">
          Leonessa
        </md-option>
        <md-option value="3">
          Scassaballe
        </md-option>
        <md-option value="4">
          (l'ultima risposta è mia)
        </md-option>
      </md-select>
    </form>
  </div>
</div>
<div [ngClass]="blockClasses[4]">
  <div class="question">
    <div class="question__header">
      <h2 class="question__title">Patente e libretto prego</h2>
    </div>
    <div class="question__content">
      <p>Quella sera a Riccione che balla imperiale. Peccato che per via della Ele non siamo neanche entrate alla...</p>
    </div>
  </div>
  <div class="answer">
    <form (ngSubmit)="onSubmit()">
      <md-select placeholder="Risposta" [(ngModel)]="answers[3]" name="answer" (ngModelChange)="changeAnswer()" class="answer__input">
        <md-option value="1">
          Melevisione
        </md-option>
        <md-option value="2">
          Baia imperiale
        </md-option>
        <md-option value="3">
          Ah che bel sole c'era...
        </md-option>
        <md-option value="4">
          Samsara
        </md-option>
      </md-select>
    </form>
  </div>
</div>
<div [ngClass]="blockClasses[5]">
  <div class="question">
    <div class="question__header">
      <h2 class="question__title">É chi penso io?</h2>
    </div>
    <div class="question__content">
      <p>Cozza, rossa, logorroica, che si veste di merda. Non ti si scolla di dosso. Chi è?</p>
    </div>
  </div>
  <div class="answer">
    <form (ngSubmit)="onSubmit()">
      <md-select placeholder="Risposta" [(ngModel)]="answers[4]" name="answer" (ngModelChange)="changeAnswer()" class="answer__input">
        <md-option value="1">
          Non ho capito di chi si parla 1
        </md-option>
        <md-option value="2">
          Non ho capito di chi si parla 2
        </md-option>
        <md-option value="3">
          Pipia (?)
        </md-option>
        <md-option value="4">
          Non ho capito di chi si parla 3
        </md-option>
      </md-select>
    </form>
  </div>
</div>
<div [ngClass]="blockClasses[6]">
  <div class="question">
    <div class="question__header">
      <h2 class="question__title">Anatomia</h2>
    </div>
    <div class="question__content">
      <p>Hai un'area del cervello particolarmente sviluppata per memorizzarne le battute.</p>
    </div>
  </div>
  <div class="answer">
    <form (ngSubmit)="onSubmit()">
      <md-select placeholder="Risposta" [(ngModel)]="answers[5]" name="answer" (ngModelChange)="changeAnswer()" class="answer__input">
        <md-option value="1">
          Film horror (AHA)
        </md-option>
        <md-option value="2">
          Thriller (SE COME NO)
        </md-option>
        <md-option value="3">
          Cartoni Disney
        </md-option>
        <md-option value="4">
          Video di lanci col paracadute (EEEEEH)
        </md-option>
      </md-select>
    </form>
  </div>
</div>
<div [ngClass]="blockClasses[7]">
  <div class="question">
    <div class="question__header">
      <h2 class="question__title">Gustibus. (De gustibus!!)</h2>
    </div>
    <div class="question__content">
      <p>Chi è quella persona a cui hai fatto cambiare gusti...?</p>
    </div>
  </div>
  <div class="answer">
    <form (ngSubmit)="onSubmit()">
      <md-select placeholder="Risposta" [(ngModel)]="answers[6]" name="answer" (ngModelChange)="changeAnswer()" class="answer__input">
        <md-option value="1">
          Persona a caso di Mirano 1
        </md-option>
        <md-option value="2">
          Gabbo
        </md-option>
        <md-option value="3">
          Persona a caso di Mirano 2
        </md-option>
        <md-option value="4">
          Persona a caso di Mirano 3
        </md-option>
      </md-select>
    </form>
  </div>
</div>
<div [ngClass]="blockClasses[8]">
  <div class="question">
    <div class="question__header">
      <h2 class="question__title">Il diavolo veste Prada</h2>
    </div>
    <div class="question__content">
      <p>In questo posto sei andata anni fa per un consiglio di stile ma non hai trovato una persona molto fine. Ti ha colpito quella cadenza molto femminile...</p>
    </div>
  </div>
  <div class="answer">
    <form (ngSubmit)="onSubmit()">
      <md-select placeholder="Risposta" [(ngModel)]="answers[7]" name="answer" (ngModelChange)="changeAnswer()" class="answer__input">
        <md-option value="1">
          Intenzioni
        </md-option>
        <md-option value="2">
          Cause
        </md-option>
        <md-option value="3">
          Presupposti
        </md-option>
        <md-option value="4">
          Motivi
        </md-option>
      </md-select>
    </form>
  </div>
</div>
<div [ngClass]="blockClasses[9]">
  <div class="question">
    <div class="question__header">
      <h2 class="question__title">Momento serietà, momento serietà</h2>
    </div>
    <div class="question__content">
      <p>Al suo cospetto hai realizzato un pensiero, romantico dolce e adesso vero.</p>
    </div>
  </div>
  <div class="answer">
    <form (ngSubmit)="onSubmit()">
      <md-select placeholder="Risposta" [(ngModel)]="answers[8]" name="answer" (ngModelChange)="changeAnswer()" class="answer__input">
        <md-option value="1">
          Colosseo
        </md-option>
        <md-option value="2">
          Arco traiano
        </md-option>
        <md-option value="3">
          Pantheon
        </md-option>
        <md-option value="4">
          Altare della Patria
        </md-option>
      </md-select>
    </form>
  </div>
</div>
<div [ngClass]="blockClasses[10]">
  <div class="question">
    <div class="question__header">
      <h2 class="question__title">Last but not least</h2>
    </div>
    <div class="question__content">
      <p>Con me ne hai a iosa, mentre io ce l'ho selettiva</p>
    </div>
  </div>
  <div class="answer">
    <form (ngSubmit)="onSubmit()">
      <md-select placeholder="Risposta" [(ngModel)]="answers[9]" name="answer" (ngModelChange)="changeAnswer()" class="answer__input">
        <md-option value="1">
          Irritazione &amp; Memoria
        </md-option>
        <md-option value="2">
          Pazienza &amp; Visione
        </md-option>
        <md-option value="3">
          Pazienza &amp; Memoria
        </md-option>
        <md-option value="4">
          Irritazione &amp; Visione
        </md-option>
      </md-select>
    </form>
  </div>
</div>
<div class="block block--compliments">
  <div class="compliments">
    <h1 class="compliments__title">
      Complimenti!
    </h1>
    <img class="compliments__image" src="assets/images/compliments.gif">
  </div>
  <div class="tips">
    <h2 class="tips__title">Ecco il suggerimento per trovare il tuo premio:</h2>
    <p class="tip">Per l'asse Y devi salire, e dove a volte ristori perquisire.</p>
    <p class="surprise">Una volta scartato il premio premi qui sotto per l'ultimo passo!</p>
    <button md-raised-button class="welcome-button" color="primary" (click)="openSurprise()">HO SCARTATO IL PREMIO</button>
  </div>
  <div class="auguri">
    <img src="assets/images/auguri.gif">
  </div>
</div>